<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Ups! Coś poszło nie tak</title>
    <div th:replace="fragments :: links-scripts"></div>
</head>
<body>
    <header th:replace="fragments :: common-header">Nagłówek</header>
    <div class="alert alert-danger container col-4 pb-3 mt-3" role="alert">
        Ups! Coś poszło nie tak. Przepraszamy za kłopot <a href="/home" th:href="@{/home}" class="alert-link">Wróć na stronę główną</a>
    </div>
</body>
</html>