<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Magazyn sprzętu</title>
    <div th:replace="fragments :: links-scripts"></div>
</head>
<body>
    <header th:replace="fragments :: common-header">Nagłówek</header>
    <div class="m-1">
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-basket3"></i> Twoje zamówienie</button>
        <a href="/zamowienia" th:href="@{/zamowienia}">
            <button class="btn btn-secondary" type="button"><i class="bi bi-card-list"></i> Wszystkie zamówienia</button>
        </a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Lista Twojego zamówienia</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div th:if="${toolCart.size()>0}">
                <div class="offcanvas-body">
                    <ol class="list-group list-group-numbered">
                            <li th:each="tool: ${toolCart}" class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" th:text="${tool.name}">Nazwa narzędzia </div>
                                    <p th:text="${tool.producer}">Opis narzędzia</p>
                                </div>
                                <span class="badge bg-secondary rounded-pill"><i class="fas fa-tools"></i></span>
                            </li>
                    </ol>
                    <form method="post" id="formPost" action="/koszyk" >
                        <div class="d-grid col-5 fw-bold gap-2">
                            <label>
                                Imię i nazwisko:
                                <input name="fullName" type="text" required>
                            </label>
                            <label>
                                Dział firmy:
                                <input name="department" type="text" required>
                            </label>
                            <button type="submit"  class="btn btn-outline-primary col-10" >Złóż zamówienie</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center" th:unless="${toolCart.size()>0}">
                <span >Twoje zamówienie jest puste, dodaj coś do niego!</span>
            </div>
        </div>
    </div>
    <div  class="list-group">
            <a th:each="tool: ${tools}">
                <a th:href="|tool/${tool.hyperlink}|" class="list-group-item list-group-item-action" >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-tools"></i>  <span th:text="${tool.name}">Nazwa narzędzia</span> </h5>
                    </div>
                    <p class="mb-1" th:text="${tool.description}"> Opis narzędzia</p>
                    <small>Producet: <span th:text="${tool.producer}"></span></small>
                </a>
            </a>
    </div>

</body>
</html>