<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Lista zamówienia</title>
    <div th:replace="fragments :: links-scripts"></div>
</head>
<body>
    <header th:replace="fragments :: common-header"></header>
<div th:switch="${order.status.getTranslate}">
    <div th:case="'Nowy'" class="alert alert-warning container col-4 pb-3 mt-3" role="alert">
        <p th:text="|Imię i nazwisko: ${order.fullName}"></p>
        <p th:text="|Dział: ${order.department}"></p>
        <p th:text="|Status: ${order.status.getTranslate}|"></p>
    </div>
    <div th:case="'W trakcie'" class="alert alert-primary container col-4 pb-3 mt-3" role="alert">
        <p th:text="|Zamówienie ${order.fullName}"></p>
        <p th:text="|Dział: ${order.department}"></p>
        <p th:text="|Status: ${order.status.getTranslate}|"></p>
    </div>
    <div th:case="'Zrealizowany'" class="alert alert-success container col-4 pb-3 mt-3" role="alert">
        <p th:text="|Zamówienie ${order.fullName}"></p>
        <p th:text="|Dział: ${order.department}"></p>
        <p th:text="|Status: ${order.status.getTranslate}|"></p>
    </div>
</div>
</div>
    <ol class="list-group list-group-numbered container col-3 d-flex">
        <li th:each="tool: ${order.getTools()}" id="toolcart" class="list-group-item ist-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold" th:text="${tool.name}">Nazwa narzędzia </div>
                <p th:text="${tool.producer}">Producent narzędzia</p>
            </div>
            <span class="badge bg-secondary rounded-pill"><i class="fas fa-tools"></i></span>
        </li>
    </ol>
    <div class="text-center">
        <div class="btn-group m-2 " role="group" aria-label="Basic radio toggle button group">
            <a href="/zamowienia" th:href="@{/zamowienia}">
                <input type="button" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-secondary" for="btnradio1"><i class="bi bi-card-list"></i> Wszystkie zamówienia</label>
            </a>
            <a href="/home" th:href="@{/home}">
                <input  type="button"  class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label  class="btn btn-outline-secondary" for="btnradio2">Strona główna</label>
            </a>
            <div th:switch="${order.status.getTranslate}">
                <div th:case="'Nowy'">
                    <form method="post" action="#" th:action="@{/zamowienie(id=${order.id})}">
                            <input type="submit" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio3">Realizuj zamówienie</label>
                    </form>
                </div>
                <div th:case="'W trakcie'">
                    <form method="post" action="#" th:action="@{/zamowienie(id=${order.id})}">
                            <input type="submit" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-success" for="btnradio3">Zakończ realizacje</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>