<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${tool.name}">Nazwa narzędzia</title>
    <div th:replace="fragments :: links-scripts"></div>
</head>
<body>
    <header th:replace="fragments :: common-header"></header>
    <div class="card container col-5 mt-3" >
        <img th:src="|/img/${tool.hyperlink}.jpg|" class="card-img-top" alt="Zdjęcie narzędzia">
        <div class="card-body">
            <h5 class="card-title" th:text="${tool.name}">Nazwa narzędzia</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" ><b>Producent:</b> <span th:text="${tool.producer}">Nazwa producenta</span></li>
            <li class="list-group-item" >
                <b>Parametry: Vc =</b> <span th:text="${tool.parameterSpeed}">Prędkość skrawania narzędzia</span> [m/min]

                ,<b> fz =</b> <span th:text="${tool.parameterFeed}">Posuw narzędzia</span> [mm/s]
            </li>
            <li class="list-group-item" th:text="${tool.description}">Opis</li>
        </ul>
        <div class="card-body">
            <a th:href="@{/home}"><button type="button" class="btn btn-outline-secondary">Strona głowna</button></a>
            <a th:href="|/saveTool/${tool.id}|"><button type="button" class="btn btn-outline-success">Dodaj do koszyka</button></a>

        </div>
    </div>
</body>
</html>